@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@font-face {
     font-family: SFProText;
     src: url("../assets/fonts/FontsFree-Net-SFProText-Regular.ttf");
}

@font-face {
     font-family: Muli-Bold;
     src: url("../assets/fonts/Muli-Bold.ttf");
}

.SFProText {
     font-family: 'Source Sans Pro', sans-serif;
}

.mulish {
     font-family: 'Mulish', sans-serif;
}

.Muli-Bold {
     font-family: Muli-Bold;
}

.padre {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
     right: 0;
     bottom: 0;
}

.contenedor {
     width: 100%;
     height: 100%;
     display: flex;
     justify-items: center;
     align-items: center;
     background: black;
}

.inner {
     /* h-3/6 lg: h-2/6 w-full flex flex-col justify-around items-center px-10 md: px-14 lg: px-10 */
     height: 50%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-items: space-around;
     align-items: center;
     padding: 0 2.2rem;
}

.imagen_arriba {
     /* w-64 md: w-4/12 lg: w-5/12 */
     width: 17.5rem;
}

.texto_inicio {
     /* mulish my-2 md: my-0 lg: my-10 text-white text-center text-base lg: text-xl */
     font-family: 'Mulish', sans-serif;
     margin: 1rem 0rem;
     color: white;
     text-align: center;
     font-size: 1rem;
     line-height: 1.375rem;
}

.sublogo {
     /* w-40 md: w-3/12 lg: w-3/12 */
     width: 10rem;
     margin-top: 2.3rem;
}

.boton_inicio {
     font-family: 'Source Sans Pro', sans-serif;
     background: #009cbd;
     font-size: 17px;
     font-size: 1.05rem;
     text-align: center;
     padding: 0.5rem 0;
     color: white;
     border: none;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     width: 13rem;
     text-decoration: none;
}

.marker {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
}

.button_CTA {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
}

.button_blue {
     font-size: 1.05rem;
     text-align: center;
     font-family: Muli-Bold;
     color: white;
     width: 50%;
     padding: 0.5rem;
     margin-bottom: 1rem;
     background: #009cbd;
     text-decoration: none;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
}

.relative {
     position: relative;
}

@media screen and (min-width: 768px) {
     #markerhelper {
          width: 25%;
     }
     .button_blue {
          width: 40%;
          font-size: 24px;
          padding: 0.5rem;
          margin-bottom: 2rem;
     }
     .boton_inicio {
          width: 30%;
     }
}

@media screen and (min-width: 1024px) {
     #markerhelper {
          width: 30%;
     }
     .button_blue {
          width: 40%;
          font-size: 32px;
          padding: 0.5rem;
          margin-bottom: 3rem;
     }
     .boton_inicio {
          width: 18%;
     }
}

@media screen and (min-width: 1920px) {
     #markerhelper {
          width: 15%;
     }
     .button_blue {
          width: 20%;
          font-size: 32px;
          padding: 0.5rem;
          margin-bottom: 3rem;
     }
}

.hidden {
     display: none;
}

.fadeout {
     animation: fade linear 0.3s;
     animation-fill-mode: forwards;
}

@keyframes fade {
     0% {
          opacity: 100%
     }
     100% {
          opacity: 0%
     }
}